.navbar .btn-outline-light:hover {
  color: var(--bg-dark);
}
.header{
  background: url("../images/header-background.jpg");
  background-size: cover;
}
#header-text{
  text-wrap: balance;
}
.navbar-sticky{
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#dialog-modal,#dialog-modal-2{
  max-width: 1050px;
}
#testimonial-image-1,#testimonial-image-2,#testimonial-image-3{
  width: 150px;
  height: 150px;
}
@media(max-width:1000px){
  #header-image{
    display:flex;
    justify-content: center;
  }
  #header-text{
    text-align: center;
    text-wrap: pretty;
  }
  #details-1-image{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #details-1-text,#details-2-text{
    margin-left: 3rem;
    margin-right: 3rem;
    text-wrap: pretty;
  }
  #modal-image, #modal-image-2{
    display: flex;
    justify-content: center;
  }
}

