.navbar .btn-outline-light:hover {
  color: var(--bg-dark);
}
.header{
  background: url("../images/header-background.jpg");
  background-size: cover;
}
#header-text{
  text-wrap: balance;
}
@media(max-width:1000px){
  #header-image{
    display:flex;
    justify-content: center;
  }
  #header-text{
    text-align: center;
    text-wrap: pretty;
  }
}
